[flake8]
max-line-length = 160
exclude =
    .github
    docs/*
    tests/*
    test.py
per-file-ignores =
    # Import not at top of file (intentional - to avoid circular imports)
    .\tibber\__init__.py: E402